html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Ant Design Reset override if needed */
body {
  background-color: #f0f2f5;
}

/* Force Pagination Size Changer on Mobile */
.ant-pagination-options {
  display: inline-block !important;
}